# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)

6

##### Assinging float

In [3]:
numberFloat = 3.14
print(numberFloat)
#or
number_float = 3.1416
print(number_float)

3.14
3.1416

#### Performing Calculations on ints and floats

##### Addition

In [12]:
num1 = 5
num2 = 2

result = num1 + num2
print(result)

#short hand version
result += 1
print(result)

7
8

##### Subtraction

In [15]:
result_diff = num1 - num2
print(result_diff)

#short hand version
result_diff -= 2
print(result_diff)

3
1

##### Multiplication

In [17]:
result_mul = num1 * num2
print(result_mul)

#shorthand
result_mul *= 3
print(result_mul)

10
30

##### Division

In [18]:
result_div = num2 / num1
print(result_div)

#shorthand
result_div /= 2
print(result_div)

0.4
0.2

##### Floor Division

In [21]:
result_floor = 6 // 2
print(result_floor)

#shorthand
result_floor //=2
print(result_floor)

3
1

##### Modulo

In [23]:
result_mod = 10 % 3
print(result_mod)

#shorthand
result_mod %= 3
print(result_mod)

1
1

##### Exponential

In [26]:
square = 5 ** 2
print(square)

#shorthand
square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [27]:
name = "Anna"
print(name)

Anna

##### print() <br>
<p>Don't forget about end=' '</p>

In [30]:
print("This is my first name: ", name)
print("Full Name: ", name, end=" Perez")

This is my first name:  Anna
Full Name:  Anna Perez

##### String Concatenation

In [35]:
first_name = "anna"
last_name = "perez"
full_name = first_name.title() + " " + last_name.title()
print(full_name)

Anna Perez

##### Type Conversion

In [36]:
number = "32"
change_type_num = int(number)
change_type_num += 5
print(change_type_num)

37

##### input()

In [40]:
#input will always return a string // control/ to comment out a bunch of lines

# name = input("What is your name? ")
# print(name)

age = int(input("How old are you? "))
new_age = age + 1
print(new_age)

How old are you? 42
43

##### format()

In [44]:
# age = input("What is your age? ")
# name = input("What is your name? ")

# result_string = "You are {}, you are {} years old and you are getting wiser!".format(name, age)
# print(result_string)

age = 88
name = "Tyler"
result_string = "You are {}, you are {} years old and you are getting wiser!".format(name, age)
print(result_string)

result_again = f"{age} is a great time in life!"
print(result_again)

You are Tyler, you are 88 years old and you are getting wiser!
88 is a great time in life!

##### Old Way (python 2)

In [45]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 88 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [46]:
color = input(" What color is your vehicle? ")
year = input(" What model year is your vehicle? ")
make = input(" Who is the manufacturer of your vehicle? ")
model = input(" What model is your vehicle? ") 
print("You have a " + color + " " + year + " " + make + " " + model + ".")

 What color is your vehicle? black
 What model year is your vehicle? 2014
 Who is the manufacturer of your vehicle? Honda
 What model is your vehicle? CR-V
You have a black 2014 Honda CR-V.

### If Statements

In [50]:
# Available operators: Greater(>), Less(<),Equal(==), not equal (!=)
# Greater or Equal(>=), Less or Equal (<=)
#if(thing that is true or false) is true:
    #do this stuff
#this part will happen anyway

num1 = 5
num2 = 5

if num1 == num2:
    print ("Equal Values")
else:
    print("Not Equal")

if num2 > num1:
    print("Num 2 is greater than")
elif num2 < num1:
    print("Num2 is less than")
else:
    print("They are the same")

Equal Values
They are the same

##### 'is' keyword

In [51]:
#use when checking for same or similar objects, not same value
#not used often

num3 = 55
num4 = num3
if num3 is num4:
    print("This is the same type or similar object")

This is the same type or similar object

##### 'in' keyword

In [52]:
char_name = "Dr Spencer Reid"
if "Spencer" in char_name:
    print("The character who is a genius...")

The character who is a genius...

##### 'not in' keyword'

In [54]:
char_name = "Spencer"
if "Morgan" not in char_name:
    print("Not the one Baby Girl")

Not the one Baby Girl

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [61]:
name = input("What is your full name? ")
name = name.lower() #convert to lower or it wont catch uppercase letters
if "p" not in name:
    print("No letter 'p' found in this name")
else:
    print("There is at least one letter 'p' in this name")

What is your full name? Anna Perez
There is at least one letter 'p' in this name

## Using 'and'/'or' with If Statements

In [66]:
first_name = "Max"
age = 11

if first_name == "Max" and age == 10:
    print("My Name is Max and I am 10")
elif first_name == "Max" or age == 10:
    print("I am either Max or I am 10")

I am either Max or I am 10

### Elif Statements

In [ ]:
#see above

### Else Statements

In [ ]:
# see above

### For Loops

In [68]:
#for item in iterable_thing:
    #do dome stuff

name = "Anna Perez"

for letter in range(len(name)):
    print(letter)

0
1
2
3
4
5
6
7
8
9

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [69]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [70]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

#will come back later

##### Double For Loops

In [71]:
for i in range(5):
    for j in range (5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [99]:
#while condition statement (something that is t or f):
    #do stuff repeatedly

num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [104]:
game_running = True

while game_running:
    user_input = input("Say some stuff")
    if user_input == "quit":
        game_running = False
    print(user_input)
    score += 1
    print(f"Score: {score}")

Say some stuffsome stuff
some stuff
Score: 1
Say some stuffmore stuff
more stuff
Score: 2
Say some stuffquit
quit
Score: 3

##### While & For Loops Used Together

In [105]:
num = 0

while num < 5:
    print("/nWhile Loop Iteration" + str(num))
    
    for i in range (2):
        print("For Loop Iteration: " + str(i))
        
    num += 1

/nWhile Loop Iteration0
For Loop Iteration: 0
For Loop Iteration: 1
/nWhile Loop Iteration1
For Loop Iteration: 0
For Loop Iteration: 1
/nWhile Loop Iteration2
For Loop Iteration: 0
For Loop Iteration: 1
/nWhile Loop Iteration3
For Loop Iteration: 0
For Loop Iteration: 1
/nWhile Loop Iteration4
For Loop Iteration: 0
For Loop Iteration: 1

### Built-In Functions

##### range()

In [106]:
#range(start, stop, step)
# defaults start = 0, must give stop, step = 1

for i in range(2, 20, 3):
    print(i)

2
5
8
11
14
17

##### len()

In [107]:
name = "Max"

length = len(name)
print(length)

3

##### help()

In [109]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

##### isinstance()

In [110]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

print(isinstance(4.5,int))

if isinstance(4.5,float):
    print("This number is a float type")

False
This number is a float type

##### abs()

In [111]:
# | 5 | (absolute value)

print(abs(-5))

5

### Try and Except

In [114]:
# use whenever you expect to encounter a bug so that the error 
# doesn't cause the program to stop
# Use so that you can log out a graceful and useful error message

try:
    number_test = 0
    input_num = int(input('Guess a Number'))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your Number is: " + str(input_num))
except:
    print('That did not work - ERROR: Change your input to a number')

Guess a Numberfive
That did not work ---- ERROR: Change your input to a number

### Lists

##### Declaring Lists

In [116]:
my_list= [] # Empty List 

names = ['Max','Cindy','Kathy', 5,"Nate"]

print(names)

['Max', 'Cindy', 'Kathy', 5, 'Nate']

##### Indexing a List

In [118]:
# syntax: list_name[start: stop: step]

#Single Index
print(names[0])

#Print the last value, regardless of length of list
print(names[-1])

# Print starting at index 1 going to the end
print(names[1:])

#Print starting at beginning of list to N (n == the number we want to stop at)
print(names[:3])

#print from one index to another
print(names[2:4])

# print starting at index 1 going up BY 2 in each iteration
print(names[1::2])

# print starting at the back and present in reverse order
print(names[::-1])

Max
Nate
['Cindy', 'Kathy', 5, 'Nate']
['Max', 'Cindy', 'Kathy']
['Kathy', 5]
['Cindy', 5]
['Nate', 5, 'Kathy', 'Cindy', 'Max']

##### .append()

In [119]:
names.append('bob')
print(names)

['Max', 'Cindy', 'Kathy', 5, 'Nate', 'bob']

##### .insert()

In [122]:
# list.insert(index,value)

names.insert(3,"Gabby")
print(names)

['Max', 'Cindy', 'Kathy', 'Gabby', 5, 'Nate', 'bob']

##### .pop()

In [123]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

my_name = names.pop(3)
print(my_name)
print(names)

Gabby
['Max', 'Cindy', 'Kathy', 5, 'Nate', 'bob']


##### .remove()

In [124]:
# value to be removed , not index
# names.remove("Bob")
# print(names)

# remove multiple bobs out of list
while 'bob' in names:
    names.remove('bob')
print(names)

['Max', 'Cindy', 'Kathy', 5, 'Nate']

##### del()

In [125]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if used improperly
del(names[1])
print(names)

['Max', 'Kathy', 5, 'Nate']

##### Concatenating Two Lists

In [126]:
# will append two lists together, not add up the elements in each list

first_list = [0,1,2]
second_list = [3,4,5]

big_list = first_list + second_list
print(big_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [127]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

names = ["Max", "Sam","Josh",["Sally","Sue","Tameka"]]

print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, one is by index, the other is by using the 'in' keyword

# Loop with a for loop (By Index)
for i in range(len(names)):
    print(names[i])
    
# Loop with a for loop (Using the 'in' keyword)
for i in names:
    print(i)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [74]:
cubes = []
for number in range(1, 12):
    cube = number**3
    cubes.append(cube)

for cube in cubes:
    if cube > 1000:
        break
    print(cube)
    
#I found it hard to break past having the knowledge that 10 cubed is 1000.
#This was try it yourself 4.8 in the python book, which I messed with to add the break

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [177]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for prime in range(1, 100):
    variable = True
    for div in range(2, prime//2):
        if (prime % div) == 0:
            variable = False
            break
    if variable == True:
        print(prime)

1
2
3
4
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [93]:
prompt = "How old are you? Enter 'quit' when done. "

while True:
    age = input(prompt)
    if age == 'quit':
        break
    age = int(age)

    if age < 18:
        print("Kids ")
    elif age >=18 and age < 65:
        print("Adult")
    else:
        print("Senior")
        
#This was a play on try it yourself 7.5 in the python book, 
#but I feel like I saw it somewhere else as well

How old are you? Enter 'quit' when done. quit